html{
    background-color: aqua;
}
main{
    h1{
        text-align: center;
        background-color: brown;
        border-radius: 20px;
        font-size: 60px;
    }
}
.cartao{
    margin: auto;

}