html{
    background-color: #F8EBAB;
}
main{
    h1{
        text-align: center;
        background-color: #BE1A1A;
        border-radius: 20px;
        font-size: 50px;
        color: #F7D87F;
    }
    .centro{
        margin: auto;
        width: 820px;
        text-align: center;
    }
}